.app-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-header__wrap {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 15;
}

@media screen and (max-width: 490px) { 
  .app-header {
    flex-flow: column nowrap;
  }
}